<section id="main">
    <div class="container" id="movieForm">
        <form action="#" th:action="@{/movie/search}" th:object="${movieSearch}" method="post">
            <div class="form-group">
                <label for="movie1Title">Movie 1</label>
                <input class="form-control" id="movie1Title" th:field="*{movie1Title}">
                <small id="movie1Help" class="form-text text-muted">provide a movie title</small>
            </div>
            <div class="form-group">
                <label for="movie2Title">Movie 2</label>
                <input class="form-control" id="movie2Title" th:field="*{movie2Title}">
                <small id=" movie2Help" class="form-text text-muted">provide another movie title</small>
            </div>

            <button type="submit" class="btn btn-primary">Search</button>
    </div>
    <div class="container" id="movieResult" th:object="${rambiModel}">
        <div class="row">
            <div class="col-sm">
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top" th:src="*{movie1.posterUrl}"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">*{movie1.title}</h5>
                            <p class="card-text" th:text="${movie1.plot}"/>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" th:src="*{movie2.posterUrl}"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">*{movie2.title}</h5>
                            <p class="card-text" th:text="${movie2.plot}"/>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <h2>Generate</h2>
                    <p>Generate a new movie title and a pitch based on the 2 selected movies</p>
                    <div class="col-auto">
                        <a th:href="@{/}" class="btn btn-primary">Generate</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/generated_00.png}"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Bambo Rambo</h5>
                        <p class="card-text">Bambi and his forest friends Thumper and Flower are excited for Bambi's
                            upcoming coronation as prince of the forest. However, when a group of rowdy animals from a
                            neighboring forest threaten to disrupt the ceremony, Bambi must turn to an unlikely ally for
                            help: Rambo, a retired military-trained ram who has been hiding out in the forest. Together,
                            they must train the forest animals in hilarious and unconventional ways to defend themselves
                            against the intruders, all while navigating the challenges of growing up in the forest.</p>
                        <p class="card-text"><small class="text-muted">Generated By Spring.AI</small></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


